NEXT_PUBLIC_SUPABASE_URL=https://gvvvjvxevwllersjaohr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd2dnZqdnhldndsbGVyc2phb2hyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDI1NTIzNDIsImV4cCI6MjAxODEyODM0Mn0.o9y1yNt2tYst64iVPJVcYctBqHEv66fnwPT73HHSVzs